* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'DM Sans', sans-serif;
}


/* Reset CSS */
a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea {
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus, 
textarea:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 24/16;
	color: #2B292D;
	letter-spacing: -0.01em;
}

.fill-button {
	width: 140px;
	height: 48px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 2px;
	background-color: #3040C4;
	color: #fff;

	font-size: 15px;
	font-weight: 700;
	line-height: 24/15;
	letter-spacing: -0.05em;

	transition: opacity 300ms ease-in-out;
}

.fill-button:hover {
	color: #fff;
	opacity: 0.5;
}

.fill-button.inverted {
	background-color: #fff;
	color: #3040C4;
}

.fill-button.inverted:hover {
	color: #3040C4;
}


/* 공통 모듈 */
.section {
	padding: 80px 0;
}

.section-category {
	/* margin이 안 먹는다 싶으면 inline 태그인지 확인 */
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 24/16;
	letter-spacing: -0.01em;
}

.section-title {
	margin-bottom: 24px;
	font-size: 34px;
	font-weight: 700;
	line-height: 36/34;
	letter-spacing: -0.03em;
	color: #2B292D;
}


/* landing */
.landing {
	background-color: #FDDED8;
	text-align: center;
}

.landing-content {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-title {
	margin-bottom: 24px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.05em;
	color: #2B292D;
}

.landing-desc {
	margin-bottom: 24px;
}

.landing .button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing .button-wrapper .fill-button:first-child {
	margin-right: 8px;
}


/* service */
.service {
	padding: 80px 0;
	background-color: #F4F5F7;
}

.service .col-12:first-child {
	margin-bottom: 40px;
}

.service-title {
	margin-bottom: 16px;
	font-size: 22px;
	font-weight: 700;
	line-height: 30/22;
	letter-spacing: -0.04em;
	color: #2B292D;
}

.service-desc {
	margin-bottom: 0;
}


/* program */

.program .section-category {
	color: #009B4D;
}

/* figma에 나타난 숫자가 같더라도 위치가 다르면 공통모듈(section)으로 잡으면 안 됨 */
.program .row:first-child {
	margin-bottom: 32px;
}

.program .col-md-4 {
	margin-bottom: 20px;
}

.program .col-md-4:last-child {
	margin-bottom: 0;
}

.program-card {
	/* 카드가 a 태그로 되어 있으므로 padding 주기 위해 block화 */
	display: block;
	padding: 24px 0 32px;
	border-radius: 8px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
	0px 4px 6px rgba(0, 0, 0, 0.05),
	inset 0px 1px 0px rgba(255, 255, 255, 0.1);
	transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.program-card:hover {
	background-color: #3141C5;
	box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
	0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card img {
	/* img는 inline이므로 margin이나 width 주려면 display: block 필요 */
	display: block;
	width: auto;
	height: 195px;
	margin: 0 auto 16px;
}

.program-card strong {
	font-size: 18px;
	line-height: 24/18;
	letter-spacing: -0.02em;
	transition: color 300ms ease-in-out;
}

.program-card:hover strong {
	color: #fff;
}


/* curriculum */
.curriculum .section-category {
	color: #0189D1;
}

/* program에서와 curriculum에서의 section-desc 다음에 오는 요소가 다르므로 공통모듈(section)에 넣지 않는다 */
.curriculum .section-desc {
	margin-bottom: 32px;
}

.curriculum-image {
	display: none;
}

.curriculum-detail-desc {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 22/15;
}

/* Apply now 버튼을 선택하고 거리 측정하면 60px 나옴 (figma에서 선택 시 주의) */
.curriculum .row:first-child {
	margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child {
	margin-bottom: 40px;
}


/* subscription */
.subscription {
	text-align: center;
	padding: 40px 0;
	background-color: #F2F8FA;
}

.subscription-image {
	/* padding 있고 안의 내용물 크기 지정해주면 바깥쪽 width, height는 필요없음 */
	padding: 25px 0;
	margin-bottom: 16px;
}

.subscription-image img {
	display: block;
	width: auto;
	height: 190px;
	margin: 0 auto;
}

.subscription-title {
	margin-bottom: 16px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.05em;
	color: #2B292D;
}

.subscription-desc {
	margin-bottom: 24px;
}

/* .subscription .input-group .fill-button { */
/* fill-button이 아니라 input-group 아래에 마진을 줘야 함 */
.subscription-form .input-group {
	margin-bottom: 8px;
}

.subscription-form .input-group input {
	width: 100%;
	/* 16의 배수이면 왠만하면 써 주는 듯 */
	height: 48px;
	padding: 0 16px;
	border-radius: 2px;
	background-color: #fff;
	border: none;
	margin-bottom: 8px;

	/* input에는 padding이 있기 때문에 placeholder의 font-size는 잘 고려하지 않는 듯 */
}

.subscription-form .input-group .fill-button {
	width: 100%;
}

/* 무조건 최상위 클래스명을 맨앞에 둘 필요없음
	(중간단계에서 최상위 클래스명을 포함한 클래스가 있다면 거기부터 시작해도 됨 */
.subscription-form .form-notice {
	color: #7B7B7E;
	font-size: 13px;
	line-height: 20/13;
	letter-spacing: 0;
	/* margin-bottom: 0; */
}

.subscription-form .form-notice a {
	color: #3040C4;
	text-decoration: underline;
}


/* footer */
.footer {
	padding: 24px 0;
}

.footer-link {
	margin-bottom: 8px;
	/* 글자 크기를 li 단계에서 지정하지 말고 안에 a 태그가 있다면 더 정확하게 선택 */
	/* font-size: 14px;
	line-height: 24/14;
	letter-spacing: -0.01em;
	color: #807F81; */
}

.footer-link:last-child {
	margin-bottom: 0;
}

/* li 태그 안의 a 태그의 글자 속성 */
.footer-link a {
	font-size: 14px;
	line-height: 24/14;
	letter-spacing: -0.01em;
	color: #807F81;
}


@media screen and (min-width: 768px) {
	/* Reset CSS */

	p {
		font-size: 22px;
		line-height: 32/22;
	}

	.fill-button {
		width: 160px;
		height: 56px;
		font-size: 18px;
		line-height: 28/18;
	}


	/* 공통 모듈 */
	.section {
		/* 모바일일 때는 padding이 위아래로 80px이었지만 데스크탑에서는 위는 80px, 아래는 96px임
			=> 달라진 bottom 부분만 처리 */
		padding-bottom: 96px;
	}

	.section-category {
		margin-bottom: 16px;
		font-size: 22px;
		line-height: 24/22;
	}

	.section-title {
		margin-bottom: 32px;
		font-size: 56px;
		line-height: 1;
	}


	/* landing */
	.landing-content {
		/* 데스크탑에서는 모바일처럼 분홍색 부분의 height가 100vh(화면전체)일 필요가 없음 */
		height: auto; /* auto를 써주면 기존 효과 무효화 */
		/* 위아래로 padding 120px */
		padding: 120px 0;
	}
	
	.landing-title {
		margin-bottom: 32px;
		font-size: 70px;
		line-height: 72/70;
	}

	.landing-desc {
		margin-bottom: 32px;
	}

	.landing .button-wrapper .fill-button:first-child {
		margin-right: 16px;
	}


	/* service */
	.service-title {
		font-size: 26px;
		line-height: 34/26;
	}

	.service .col-12:first-child {
		margin-bottom: 0;
	}


	/* program */
	.program {
		/* 모바일에서는 텍스트가 왼쪽정렬이지만 데스크탑 버전에서는 가운데정렬임 */
		text-align: center;
	}

	.program-card {
		margin-bottom: 0;
	}

	.program .row:first-child {
		margin-bottom: 72px;
	}

	.program-card img {
		/* margin-bottom만 16px에서 24px로 바뀜 */
		margin-bottom: 24px;
	}

	.program-card strong {
		font-size: 20px;
		line-height: 24/20;
	}


	/* curriculum */
	.curriculum .section-desc {
		margin-bottom: 72px;
	}

	.curriculum-image {
		display: block;
	}

	.curriculum-image img {
		/* 없던 이미지가 새로 나타남 */
		display: block;

		/* width: 425px; */
		/* width를 바로 특정 px로 맞추지 말고, 상위요소(curriculum-image) 너비에 맞추되 특정 px 이상으로는 커지지 않게
			=> 이미지가 너무 크다 싶을 경우 사용할 수 있는 방법 */
		width: 100%;
		max-width: 425px;
		height: auto;
	}

	.curriculum-detail-desc {
		margin-bottom: 0;
		font-size: 18px;
		line-height: 26/18;
	}

	.curriculum .row:first-child {
		margin-bottom: 24px;
	}

	.curriculum .row:last-child .col-12:first-child {
		margin-bottom: 0;
	}


	/* subscription */
	.subscription {
		text-align: left;
		padding: 80px 0;
	}

	.subscription-image {
		padding: 8px 0;
	}

	.subscription-image img {
		height: 285px;
		/* margin: 0 auto로 가운데 정렬한 것을 왼쪽 정렬 */
		margin-left: 0;
	}

	.subscription-title {
		font-size: 40px;
	}

	.subscription-form .input-group {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}

	.subscription .input-group input {
		height: 56px;
		padding: 16px 16px;
		font-size: 18px;
		line-height: 24/18;
		margin-bottom: 0;
		margin-right: 8px;
	}

	.subscription .input-group .fill-button {
		/* margin-bottom이 없어야 버튼이 줄어듦 - 왜지?? */
		/* margin-bottom: 0; */
		width: 160px;
		flex-shrink: 0;
	}

	.subscription-form .form-notice {
		font-size: 14px;
		line-height: 24/14;
	}


	/* footer */
	.footer {
		padding: 16px 0;
	}

	.footer-links {
		/* 데스크탑에서는 가로 배치 */
		display: flex;
		align-items: center;
	}

	.footer-link {
		margin-bottom: 0;
		margin-right: 16px;
	}

	.footer-link:last-child {
		margin-right: 0;
	}


}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 960px !important;
	}
}